nav>ul {
	margin: 0 auto;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	cursor: pointer;
	padding: 1.2rem;
}

.button:hover {
	background: var(--background);
}

.projects {
	position: relative;
	display: inline-block;
}

nav ul {
	background: var(--box);
	display: none;
	position: absolute;
	top: 3.62rem;
	min-width: 160px;
	z-index: 1;
	list-style-type: none;
	margin-left: -2rem;
	padding-left: 0;
	li {
		padding: 0.5rem;
	}
	li:hover {
		background: var(--background);
	}
}

.projects:hover ul {
	display: block;
}